/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html {
  scroll-behavior: smooth;
}
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Lato', sans-serif;

}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
    color: #323648;
}	
p {
    margin: 0;
    line-height: 2;
    color: #707579;
    letter-spacing: .5px;
    font-size: 16px;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}


/* header */

/*-- //header --*/


/* CSS Document */
header {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
}


#logo a {
	float: left;
    font-size: .75em;
    text-transform: capitalize;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}
#logo a span.fa {
    color: #5341b4;
}
#logo a span.block {
    color: #ddd;
    font-size: 15px;
    display: block;
    padding-left: 39px;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	}

/* Styling the links */
nav a {
    color: #eee;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 0;
}


nav ul li ul li:hover { background: #f8f9fa; }

/* Background color change on Hover */
nav a:hover { 
	color: #fff;	
}
.menu li.active  a{ 
	color: #fff;	
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 30px; 
    background: #fff;
    padding: 10px;
}
ul.drop-down li a:hover {
	color: #333;
}
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding: 3px 15px;
		font-size: 22px;
		text-decoration: none;
		border: none;
		float: right;
		background-color: #b03919;
		color: #fff;
		margin-top: 20px;
	}
	.menu .toggle {
		float: none;
		text-align: center;
		padding: 5px 0 0;
		font-weight: normal;
		letter-spacing: 1px;
		margin-top: 0px;
		background: none;
		color: #333;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
	}
	nav ul ul li a {
		font-size: 15px;
	}
	.menu li.active a {
		color: #b03919;
	}
	.toggle:hover {
		color:#333;
		background-color: #fff;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
		background: #fff;
		padding: 15px 0;
		text-align: center;
		width: 100%;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		padding: 5px 0;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}
  
	nav a:hover, nav ul ul ul a {
		background-color: #transparent;
	}
	nav a:hover {
		color: #b03919;
	}
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
	nav a {
		color: #333;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
		padding: 0;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
/*-- // header --*/


/*-- banner --*/
.banner{
	background:url(/images/banner.jpg) no-repeat center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
    min-height: 770px;
}
.miniBanner{
	background:url(/images/banner.jpg) no-repeat center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
    min-height: 270px;
}
.banner-layer {
    background: rgba(0, 0, 0, 0.3);
    min-height: 770px;
}
.w3layouts_banner_margin {
    padding: 15em 0em 0em;
}
.image_margin {
    margin-top: 8em;
}
.w3pvt_banner_info h3 {
    font-size: 80px;
    color: #fff;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.w3pvt_banner_info h2{
    font-size: 90px;
    display: block;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: .2em;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.w3pvt_banner_info h4 {
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 25px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.w3pvt_banner_info p{
    color: #fff;
    margin: 1em 0;
    line-height: 2em;
    letter-spacing: 1px;
    font-size: 16px;

}
.w3pvt_banner_info a {
    padding: 15px 40px;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 1.5em;
}
.w3pvt_banner_info a:hover {
    background: #fff;
	color: #b03919;
}
/*-- // banner --*/

/*-- banner to bottom --*/
.thim-click-to-bottom {
    font-size: 30px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    z-index: 99;
    text-align: center;
}
.thim-click-to-bottom span.fa{
    color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.thim-click-to-bottom i:hover {
	color: #17a2b8;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
/*-- //banner to bottom --*/

/*-- about --*/
h3.heading {
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: #222;
}
.about-middle {
    background: #b03919;
    padding: 5em 4em;
    border-radius: 69% 31% 24% 76% / 53% 59% 41% 47%;
}
.about-middle h5 {
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #fff;
}
h4.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
	color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.about-middle p{
	color: #eee;
}
.about-middle a {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
    display: inline-block;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.about-middle a:hover {
    background: #fff;
    color: #b03919;
}
/*-- //about --*/

/*-- events --*/
.events{
	background: #b03919;
}
.events h3.heading{
	color: #fff;
}
.events p.para{
	color: #fff;
    letter-spacing: 1px;
    padding-bottom: 15px;
    border-bottom: 1px dashed;
}
ul.event-names li.para {
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 2;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px dashed;
}
ul.event-names li {
    display: block;
    margin: 1em 0 0;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
}
ul.event-names li h3 {
    color: #fff;
    font-weight: 900;
    width: 33px;
    font-size: 20px;
    letter-spacing: 0;
}
ul.event-names li  a {
    background: #fff;
    color: #b03919;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 35px;
    font-size: 16px;
}
.event-grids h4 {
    margin: 1em 0;
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 40px;
}
.event-grids a {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
}
.event-grids a:hover {
    background: #fff;
    color: #b03919;
}
/*-- //events --*/

/*Top Header Start*/
.top-header {
    background: rgba(42, 20, 137, 0.85);
}

.top-header ul.top-menu {
    padding: 0;
    margin: 0;
    float: left;
}

.top-header li {
    -webkit-display: inline-block;
    display: inline-block;
    list-style: none;
    padding: 10px 2px;
}

.top-header li a {
    color: #ffffff;
    font-size: 15px;
}

.media-icon {
    float: right;
}

.media-icon li {
    -webkit-display: inline-block;
    display: inline-block;
    padding-right: 2px;
    list-style: none;
}

.media-icon i.fa.fa-facebook-f {
    padding: 5px 8px;
    color: #ffffff;
    background: cornflowerblue;
    border-radius: 5px;
}

.media-icon i.fa.fa-instagram {
    padding: 5px 6px;
    color: #ffffff;
    background: blueviolet;
    border-radius: 5px;
}

.media-icon i.fa.fa-youtube {
    padding: 5px 6px;
    color: #ffffff;
    background: red;
    border-radius: 5px;
}

.media-icon i.fa.fa-twitter {
    padding: 5px 6px;
    background: darkblue;
    color: #ffffff;
    border-radius: 5px;
}

@media(min-width:320px) {
    .top-header li a {
        color: #ffffff;
        font-size: 12px;
    }

    .top-header i.fa.fa-envelope-open {
        font-size: 10px;
    }

    .top-header li {
        padding: 2px;
    }

    .media-icon {
        margin-top: 13px;
    }
}

@media(min-width:500px) {
    section.top-header {
        padding: 6px;
    }

    .top-header li a {
        color: #ffffff;
        font-size: 15px;
    }
}

@media(min-width:768px) {
    .top-header li {
        padding: 10px 2px;
    }

    .media-icon {
        margin-top: 0px;
    }

    .top-header i.fa.fa-envelope-open {
        font-size: 13px;
    }
}

/*Top Header End*/





/*-- services --*/
#services .col-lg-12.offset-lg-1.mt-lg-0.mt-4 {
    margin-left: 0px;
}
#services h1 {
    font-weight: 600;
    margin-bottom: 23px;
    text-align: center;
    font-size: 46px;
}
.serv-grid h4,.serv-grid1 h4,.serv-grid2 h4,.serv-grid3 h4,.serv-grid4 h4,.serv-grid5 h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 30px;
	margin-bottom: 10px;
	color: #fff;
}
.service-grids p {
    color: #eee;
    line-height: 1.8;
    margin-bottom: 20px;
	padding:0px 10px;
}
.serv-grid{
    background: #56c1ab;
    padding: 2em 0;
    border: 1px solid #fff;
}
.serv-grid span.fa {
    color: #fff;
    font-size: 40px;
}
.serv-grid1{
    background: #ef5956;
    padding: 2em 0;
    border: 1px solid #fff;
}
.serv-grid1 span.fa {
    color: #fff;
    font-size: 40px;
}
.serv-grid2{
    background: #6a6b6a;
    padding: 2em 0;
    border: 1px solid #fff;
}
.serv-grid2 span.fa {
    color: #fff;
    font-size: 40px;
}
.serv-grid3{
    background: #f38654;
    padding: 2em 0;
    border: 1px solid #fff;
}
.serv-grid3 span.fa {
    color: #fff;
    font-size: 40px;
}
.serv-grid4{
    background: #5654a4;
    padding: 2em 0;
    border: 1px solid #fff;
}
.serv-grid4 span.fa {
    color: #fff;
    font-size: 40px;
}
.serv-grid5{
    background: #2dbe60;
    padding: 2em 0;
    border: 1px solid #fff;
}
.serv-grid5 span.fa {
    color: #fff;
    font-size: 40px;
}
/*-- services --*/


/*-- subscribe --*/
.subscribe{
	background: #222;
}
.subscribe {
    background: #222 url(/images/ballons1.png) no-repeat;
    background-position: 100% 100%;
    background-size: contain;
}
.subscribe h3.heading{
	color: #fff;
}
.subscribe h4 {
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 3px;
	color: #777;
}
.subscribe input[type="email"] {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 15px 20px;
    width: 70%;
    color: #666;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #999;
    background: transparent;
}
.subscribe button.btn {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    background: #b03919;
    border: 1px solid #b03919;
    padding: 15px 20px;
    border: none;
    width: 30%;
    border-radius: 0;
    transition: all 0.5s ease-in;
}
.subscribe  form {
    width: 60%;
    margin: auto;
}
.copyright p a{
	color: #888;
}
.copyright p a:hover{
	color: #fff;
}
/*-- //subscribe --*/


/*-- fireworks animation --*/

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

/*-- //fireworks animation --*/

/*/team */
.team-agile-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.box20 {
    position: relative;
    overflow: hidden;
}

.box20:after,
.box20:before {
    position: absolute;
    content: ""
}

.box20:before {
    width: 85%;
    height: 220%;
    background: #b03919;
    top: -68%;
    left: -100%;
    z-index: 1;
    transform: rotate(21deg);
    transform-origin: center top 0;
    transition: all .5s ease 0s;
}

.box20:hover:before {
    left: 40%
}

.box20 .box-content,
.box20 .icon {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    left: 0;
    z-index: 2;
    transition: all 1.1s ease 0s
}

.box20:hover:after {
    bottom: -70%
}

.box20 img {
    width: 100%;
    height: auto
}

.box20 .box-content {
    top: -100%;
    color: #fff
}

.box20:hover .box-content {
    top: 30px
}

.box20 .title {
    font-size: 22px;
    margin: 0;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}

.box20 .icon li a,
.box20 .post {
    display: inline-block;
    font-size: 14px
}

.box20 .post {
    margin-top: 5px
}

.box20 .icon {
    list-style: none;
    margin: 0;
    bottom: -100%
}

.box20:hover .icon {
    bottom: 25px
}

.box20 .icon li {
    display: inline-block
}

.box20 .icon li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    border-radius: 50%;
    margin: 0 3px;
    color: #b03919;
    text-align: center;
    transition: all .5s ease 0s
}

.box20 .icon li a:hover {
    background: #333;
    color: #fff;
}

@media only screen and (max-width:990px) {
    .box20 {
        margin-bottom: 30px
    }
}

@media only screen and (max-width:479px) {
    .box20 .title {
        font-size: 20px
    }
}
.position-left-img {
    position: absolute;
    width: 13%;
    left: 0;
    top: 12%;
}
.position-right-img {
    position: absolute;
    width: 13%;
    right: 0;
    bottom: 17%;
}
/* //team */

/*-- contact --*/
h6.sub-title {
    font-size: 1.4em;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 1px;
}

textarea {
    height: 180px;
    resize: none;
}

.register-top1 {
    margin-top: 0em;
}
.register-top1 label {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

form.register-wthree .form-control {
    padding: 10px 20px;
    border: 1px solid #acacac;
    border-radius: 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

button.btn.btn-w3layouts {
    background: #b03919;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 600;
	text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px;
    font-size: 16px;
    width: 25%;
}
.address h4 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 10px;
}
.address h4 span.fa{
    color: #b03919;
}
.address p a{
    margin: 0;
    line-height: 2;
    color: #707579;
    letter-spacing: .5px;
    font-size: 16px;
}
.contact-wthree {
    background: url(/images/star1.png) no-repeat;
	background-size: cover;
}
/*-- //contact --*/

/*-- register --*/
.register{
    background: #b03919 url(/images/ballons.png) no-repeat;
	background-position: 0% 100%;
	background-size: contain;
}
.register a {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 80px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
}

.register a:hover{
    background: #fff;
    border: 2px solid #fff;
    color: #b03919;
}
.register h3 {
    font-size: 30px;
    color: #eee;
    text-transform: capitalize;
    line-height: 45px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
/*-- //register --*/

/*-- sponsers --*/
.sponsers{
	background: #b03919;
}
.sponsers h3.heading {
	color: #fff;
}
.sponser-grids span.fa {
    font-size: 55px;
    color: #fff;
}
/*-- //sponsers --*/

/*-- to top --*/
a.move-top.text-center span {
    width: 45px;
    height: 45px;
    background: #333;
    line-height: 45px;
    border-radius: 100px;
    color: #fff;
    font-size: 22px;
}
/*-- //to top --*/

/*-- Responsive Design --*/

@media(max-width:1440px) {
	.position-right-img {
		width: 11%;
	}
}
@media(max-width:1280px) {
	.w3layouts_banner_margin {
		padding: 13em 0em 0em;
	}
	.banner,.banner-layer {
		min-height: 680px;
	}
	.w3pvt_banner_info h2 {
		font-size: 80px;
	}
	.w3pvt_banner_info h3 {
		font-size: 70px;
	}
	.position-left-img {
		width: 8%;
	}
	.position-right-img {
		width: 7%;
	}
}
@media(max-width:1080px) {
	.w3layouts_banner_margin {
		padding: 12em 0em 0em;
	}
	.banner,.banner-layer {
		min-height: 600px;
	}
	.w3pvt_banner_info h2 {
		font-size: 70px;
	}
	.w3pvt_banner_info h3 {
		font-size: 60px;
	}
	h3.heading {
		font-size: 40px;
		letter-spacing: 2px;
	}
	
}
@media(max-width: 1024px) {
	.about-middle {
		padding: 5em 3em;
	}
	.serv-grid,.serv-grid1,.serv-grid2 ,.serv-grid3,.serv-grid4,.serv-grid5,.serv-grid6 {
		padding: 2em 1em;
	}
	.services h3.heading {
		padding-left: 1em;
	}
}
@media(max-width:991px) {
	.subscribe form {
		width: 80%;
	}
	.register a {
		padding: 15px 60px;
		font-size: 20px;
	}
	.position-left-img {
		width: 13%;
	}
	.position-right-img {
		width: 14%;
	}
}

@media(max-width:800px) {
	.position-right-img {
		bottom: 0%;
	}
}
@media(max-width:768px) {
	nav ul li.icons {
		display: inline-block;
		width: auto;
		float: none;
	}
	ul.drop-down {
		padding: 0 !important;
	}
	.w3layouts_banner_margin {
		padding: 9em 0em 0em;
	}
}
@media(max-width: 736px) {
	.w3pvt_banner_info h2 {
		font-size: 60px;
	}
	.services h3.heading {
		padding-left: 0em;
	}
}
@media(max-width:667px) {
	.subscribe form {
		width: 100%;
	}
	.register a {
		padding: 13px 40px;
		font-size: 16px;
		letter-spacing: 2px;
	}
	h3.heading {
		font-size: 35px;
		letter-spacing: 2px;
	}
	.event-grids h4 {
		font-size: 27px;
	}
}
@media(max-width:568px) {
	.banner, .banner-layer {
		min-height: 540px;
	}
	.w3layouts_banner_margin {
		padding: 10em 0em 0em;
	}
	.w3pvt_banner_info h2 {
		font-size: 50px;
	}
	.w3pvt_banner_info h3 {
		font-size: 50px;
	}
	h4.heading {
		font-size: 30px;
	}
	.team-agile-row {
		width: 70%;
		margin: auto;
	}
	.subscribe {
		background: #222 url(/images/ballons1.png) no-repeat;
		background-position: 170% 100%;
		background-size: contain;
	}
}
@media(max-width: 480px) {
	.w3pvt_banner_info a {
		padding: 12px 35px;
		font-size: 15px;
	}
	.w3pvt_banner_info h2 {
		font-size: 45px;
	}
	.w3pvt_banner_info h3 {
		font-size: 45px;
	}
	.w3layouts_banner_margin {
		padding: 7em 0em 0em;
	}
	.banner, .banner-layer {
		min-height: 460px;
	}
	.event-grids h4 {
		font-size: 23px;
	}
	.register h3 {
		font-size: 25px;
		line-height: 35px;
	}
	.subscribe {
		background: #222 url(/images/celebration.jpg) no-repeat;
		background-position: 359% 100%;
		background-size: contain;
	}
	.position-right-img {
		width: 18%;
	}
}





@media(max-width: 414px) {
	
	.w3pvt_banner_info h2 {
		font-size: 40px;
		letter-spacing: 1px;
	}
	.w3pvt_banner_info h3 {
		font-size: 40px;
	}
	.w3pvt_banner_info h4 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.banner, .banner-layer {
		min-height: 420px;
	}
	h3.heading {
		font-size: 31px;
		letter-spacing: 1px;
	}
	.event-grids h4 {
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 34px;
	}
	.team-agile-row {
		width: 80%;
	}
	.subscribe input[type="email"] {
		width: 60%;
	}
	.subscribe button.btn{
		width:auto;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.about-middle h5 {
		font-size: 15px;
		letter-spacing: 3px;
	}
	button.btn.btn-w3layouts {
		width: 30%;
	}
	.subscribe {
		background: #222 url(/images/ballons1.png) no-repeat;
		background-position: 669% 100%;
		background-size: contain;
	}
}
@media(max-width:384px) {
	.team-agile-row {
		width: 100%;
	}
	.about-middle {
		padding: 4em 3em;
	}
	.subscribe h4 {
		font-size: 17px;
	}
	#logo a {
		font-size: .7em;
	}
	#logo a span.block {
		font-size: 13px;
		padding-left: 20px;
	}
	.subscribe {
		background: #222 url(/images/ballons1.png) no-repeat;
		background-position: 212px 0px;
		background-size: cover;
	}
}
@media(max-width:375px) {
	.about-middle {
		padding: 4em 1.8em;
	}
	h4.heading {
		font-size: 26px;
	}
	ul.event-names li {
		font-size: 21px;
	}
	h3.heading {
		font-size: 27px;
	}
	.copyright p {
		font-size: 15px;
	}
}
@media(max-width:384px) {
	
}

/*Owl slider start*/
/*
.parent-box{
    background: rgba(221, 221, 221, 0.53);
    display: flex;
}
.parent-box .box {
    height: 560px;
    background-color: rgba(255, 255, 255, 0.72);
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.parent-box .box:hover{
    cursor: pointer;
    box-shadow: 0px 5px 10px #000000;
    transition: all 0.3s ease 0s;
}
.
.parent-box .box .package{
    padding-top: 20px;
    text-align: center;
}
.parent-box .box .package a{
    border: 1px solid transparent;
    background: rgba(46,61,98);
    color: #ffffff;
    padding: 10px 15px;
    transition: all 0.3s ease 0s;
}
.parent-box .box :hover a{
    background:rgb(232,191,2);
}
.parent-box .box .package h4 {
    margin-top: 11px;
    color: rgba(72, 61, 139, 0.79);
    transition: all 0.3s ease 0s;
}
.parent-box .box:hover h4{
    color: darkslateblue;
    transition: all 0.3s ease 0s;
}
.parent-box .box .package h1{
    text-align: center;
    margin-top: 20px;

    padding: 10px 0px;
    font-weight: 600;
    color: darkslateblue;
}
.parent-box .box:hover h1{
    color:rgb(232,191,2);
    transition: .4s;
}
.parent-box .box .package .package-type{
    margin-top: 30px;
}
.parent-box .box p{
    text-align: center;
    padding-bottom: 15px;
}
.owl-carousel .owl-nav button.owl-prev {
    background: none;
    color: inherit;

    padding: 0 !important;
    font: inherit;
    position: absolute;
     top: 44%;
    background: #ffffff;
    width: 45px;
    height: 45px;
    border: 0;
 font-size: 27px;
    left: 10px;
    box-shadow: 0px 2px 10px #000000;
}
.owl-carousel .owl-nav button.owl-next {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    right: 1px;
    top: 44%;
    font-size: 27px;
    background: #ffffff;
    width: 45px;
    height: 45px;
    box-shadow: 0px 2px 10px #000000;

}


@media(min-width:320px){
    .parent-box{
        width: 100%;
}
    .parent-box .box {
    margin-right: 8px;
    height: 580px;
}
}
*/




/*-- //to top --*/
/*Owl slider start*/
.parent-box{
	background: rgba(221, 221, 221, 0.53);
	display: flex;
}
.parent-box .box {
    height: 450px;
    background-color: rgba(255, 255, 255, 0.72);
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.parent-box .box:hover{
	cursor: pointer;
	box-shadow: 0px 5px 10px #000000;
	transition: all 0.3s ease 0s;
}

.parent-box .box .package{
	padding-top: 20px;
	text-align: center;
}
.parent-box .box .package a{
	border: 1px solid transparent;
	background: rgba(46,61,98);
	color: #ffffff;
	padding: 10px 15px;
    transition: all 0.3s ease 0s;
}
.parent-box .box :hover a{
	background:rgb(232,191,2);
}
.parent-box .box .package h4 {
    margin-top: 20px;
	color: rgba(72, 61, 139, 0.79);
	transition: all 0.3s ease 0s;
}
.parent-box .box:hover h4{
	color: darkslateblue;
	transition: all 0.3s ease 0s;
}
.parent-box .box .package h1{
	text-align: center;
	margin-top: 20px;
/*	background: #000000;*/
	padding: 10px 0px;
	font-weight: 600;
	color: darkslateblue;
}
.parent-box .box:hover h1{
	color:rgb(232,191,2);
	transition: .4s;
}
.parent-box .box .package .package-type{
    margin-top: 30px;
    padding-bottom: 13px;
}
.parent-box .box p{
	text-align: center;
	padding-bottom: 15px;
}
.owl-carousel .owl-nav button.owl-prev {
    background: none;
    color: inherit;
/*    border: 1px solid transparent;*/
    padding: 0 !important;
    font: inherit;
	position: absolute;
	 top: 44%;
    background: #ffffff;
    width: 45px;
    height: 45px;
	border: 0;
 font-size: 27px;
	left: 10px;
	box-shadow: 0px 2px 10px #000000;
	outline:none;
}
.owl-carousel .owl-nav button.owl-next {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    right: 1px;
    top: 44%;
    font-size: 27px;
    background: #ffffff;
    width: 45px;
    height: 45px;
	box-shadow: 0px 2px 10px #000000;
	outline:none;
/*    border-radius: 50%;*/
}


@media(min-width:320px){
	.parent-box{
		width: 100%;
}
	.parent-box .box {
    margin-right: 8px;
    height: 450px;
}
}

/*Owl slider end*/

/*footer section start*/
.footer{
    background: rgba(3, 4, 7, 0.94);
}
.footer .loc, .link-item, .social-icon{
    padding-top: 20px;
}
.footer .loc h3,.link-item h3,.social-icon h3{
    color: #ffffff;
    padding-bottom: 7px;
}
.footer .loc .bor,.link-item .bor,.social-icon .bor{
    width: 100px;
    border-bottom: 4px solid #066081;
    margin-bottom: 10px;
    border-radius: 10px;
}
.footer .loc p{
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
}
.footer .loc span{
    color: #ffffff;
    font-size: 20px;
    -webkit-display: flex;
    display: flex;
}
.footer .loc i{
    font-size: 20px;
    margin-top: 15px;
}
.footer .loc p.pnone-number {
    padding-top: 7px;
    padding-left: 10px;
    color: #0bb2b2;
}
.footer .loc i.fa.fa-envelope-open {
    font-size: 15px;
}
.footer .loc a{
    font-size: 15px;
    padding-top: 13px;
    padding-left: 10px;
}
.footer .link-item{
    display: block;
}
.footer .link-item ul{
    padding: 0;
    margin: 0;
    float: left;
}
.footer .link-item ul li{
    list-style: none;
}
.footer .link-item ul li i{
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
}
.footer .link-item ul li a{
    padding-left: 10px;
    font-size: 17px;
    font-weight: 600;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color:#ffffff;
}
.footer .link-item ul li a:hover{
    color: rgb(83,65,180);
    margin-left: 10px;  
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.footer .social-icon{}
.footer .social-icon a{
    -webkit-display:block;
    display: block;
    padding: 0px;
    border: 1px solid rgba(93, 88, 88, 0.57);
    position: relative;
    color: #ffffff;
/*  width: 200px;*/
    font-weight: 600;
}
.footer .social-icon a:hover{
    color:rgb(83,65,180);
}
.footer .social-icon i {
    color: #ffffff;
    background: rgb(67,91,163);
    font-size: 20px;
    padding: 8px 11px;
    margin-right: 10px;
}
.footer .social-icon i.fa.fa-youtube {
    background: red;
    padding: 8px 9px;
}
.footer .social-icon i.fa.fa-linkedin {
    background: #004a80;
    padding: 8px 9px;
}
.footer .social-icon i.fa.fa-instagram {
    background: purple;
    padding: 8px 9px;
}
.footer-end{
    background: #000000;
    text-align: center;
    padding: 7px;
}
.footer-end img {
    width: 34px;
    height: 31px;
}
 /*Modal start*/
 .modal-dialog textarea {
    height: 100px;
}
button.btn.btn-primary {
margin-top: 10px;
}
.modal-body {
padding-top: 0px;
}

/*Modal end*/

/*Scroll top*/
.footer button#topbtn {
    position: fixed;
    font-size: 20px;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    color: #ffffff;
    cursor: pointer;
	display: none;
	background: rgba(0, 0, 0, 0.67);
}

@media(min-width:320px){
.footer .social-icon a {
    width: 200px;
}
}
@media(min-width:768px){
    .footer .social-icon {
    padding-left: 24px;
}
    .col-12.col-sm-12.col-md-6.col-lg-2.link {
    padding-left: 44px;
}
}
@media(min-width:992px){
    .footer .social-icon a {
    width: 160px;
}
}
@media(min-width:1200px){
    .footer .social-icon a {
    width: 200px;
}
}
/*footer section end*/



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.60);
    height:100px;
  }
  
  .sticky img{
      height:60px!important;
      margin-top:-13px;
  }
  .sticky + .content {
    padding-top: 102px;
  }
  @media(min-width:320px){
      .sticky img{
          margin-top:4px!important;
      }
      .sticky{
          height: 80px;
      }
  } 
   @media(min-width:768px){
      .sticky{
          height: 100px;
      }
      .sticky img{
          margin-top: -13px!important;
      }
  }
